@model IsNsfw.Mvc.Models.LinkViewModel

<div class="link-preview">
    <img class="preview-image" src="http://www.google.com" />

    <div class="slidecontainer">
        <input type="range" min="1" max="100" value="90" class="slider" class="preview-slider">
    </div>
</div>